.bgimage {
    background-image: url('../../images/cybersecurity_background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.white-text {
    color: white;
}
  
.lora-font-white {
    font-family: 'Lora', serif;
    color: white;
}

footer {
    background-color: white;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    z-index: -1; /* Make sure the particles are behind the content */
    pointer-events: none; /* So the particles don't interfere with clicks */
  }
